header {
    background-color: cadetblue;
}

.container {
    max-width: 1200px;
    margin: auto;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

ul {
    list-style-type: none;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav li a {
    color: black;
    font-weight: bold;
}