* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.pd {
    padding-top: 50px;
    padding-bottom: 50px;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
}

a {
    text-decoration: none;
}

/* ========================================= */


.browse-course .title {
    text-align: center;
    padding-bottom: 30px;
}

.browse-course .title h1 {
    font-size: calc(1rem + 2.5vw);
    text-transform: capitalize;
}

.browse-course .title p {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50%;
    margin: auto;
}

.browse-course .courseinfo {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.browse-course .courseinfo .info {
    border-radius: 10px;
    background-color: rgb(240, 239, 239);
}

.browse-course .courseinfo .info img {
    border-radius: 10px 10px 0 0;
}

.browse-course .courseinfo .info .text {
    padding: 20px;
}

.browse-course .courseinfo .info .text a {
    color: black;
}

.browse-course .courseinfo .info .text .views {
    display: flex;
    gap: 20px;
    padding: 10px 0;
}

.work {
    background-color: rgb(240, 239, 239);
}

.work .workdata {
    display: flex;
    align-items: center;
    gap: 20px;
}

.work .workdata img {
    border-radius: 10px;
}

.work .workdata .data h1 {
    padding: 10px 0;
    font-size: calc(1rem + 2vw);
}

.work .workdata .data p {
    padding-bottom: 20px;
}

.work .workdata .data button {
    padding: 10px 25px;
    font-size: 15px;
    background-color: purple;
    color: white;
    border: 2px solid transparent;
    border-radius: 5px;
}

/* media query */
@media (max-width:576px) {
    .container {
        width: 100%;
    }

    .browse-course .courseinfo {
        grid-template-columns: repeat(1, 1fr);
    }

    .browse-course .title p {
        width: 100%;
    }

    .work .workdata {
        flex-direction: column;
    }

}

@media (min-width:576px) {
    .container {
        max-width: 560px;
    }

    .browse-course .courseinfo {
        grid-template-columns: repeat(2, 1fr);
    }

    .work .workdata {
        flex-direction: column;
    }
}

@media (min-width:768px) {
    .container {
        max-width: 740px;
    }
}

@media (min-width:992px) {
    .container {
        max-width: 960px;
    }

    .browse-course .courseinfo {
        grid-template-columns: repeat(3, 1fr);
    }

    .work .workdata {
        flex-direction: row;
    }
}

@media (min-width:1200px) {
    .container {
        max-width: 1140px;
    }
}

@media (min-width:1400px) {
    .container {
        max-width: 1340px;
    }
}