.setimg {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.lighttheme {
    background-color: white;
    color: black;
}

.darktheme {
    background-color: black;
    color: white;
}